.custom-btn {
    background-color: #9353FF;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
}
.custom-btn:hover {
    background-color: #5811d4e8;
}

.small-text {
    font-size: 13px;
}
.facilities {
    width: 325px;
}

.green-lemon {
    color: #DAFF01;
}
